    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("images/contac.jpg");
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
    
    header{
        font-family: Rajdhani;
        font-weight: bold;
        width: 100%;
        z-index: 100;
        position: fixed;
        margin-top: -140px;
        
    }
    header nav {
        color: white;
        text-decoration: none;
        animation: moverizquieda 1s ease-in;
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        z-index: 1;
    }
    .topnav{
        display: none;
        z-index: 1;
    }

    header nav ul{
        overflow: hidden;
        list-style: none;
        z-index: 1;
    }
    header nav ul li{
        float: left;
        z-index: 1;
    }
    header nav ul li a{
        color: rgb(255, 255, 255);
        padding: 8px;
        display: block;
        text-decoration: none;
        font-size: 18px;
        z-index: 1;
    }
    
    
    .btn-neon span {
        position: absolute;
        display: block;
    }
    
    #span1 {
        top: 0;
        left: -100%;
        width: 20%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #f3d00a);
    }
    
    .btn-neon:hover #span1 {
        left: 5%;
        transition: 1s;
    }
    
    #span3 {
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 2px;
        background: linear-gradient(transparent, #f3d00a);
        display: block;
    }
    
    #span2 {
        top: 0;
        left: -100%;
        width: 25%;
        height: 100%;
        background: linear-gradient(90deg, transparent, #f3d00a);
    }
    
    .btn-neon:hover #span2 {
        left: 100%;
        transition: 0.75s;
    }
    
    
    
    header nav ul li #span0{
        margin-right: 10px;
        z-index: 1;
    }
    header nav ul li a:hover{
        background: linear-gradient(90deg, transparent, #f3d00a);;
        font-size: 19px;
        z-index: 1;
        color: rgb(255, 102, 0);
        box-shadow: 0 0 10px #f3d00a, 0 0 40px#f3d00a.0 0 80px #f3d00a;
        
        
    }
    
    section::before {
        content: '';
    }
    
    section::after {
        content: '';
    }
    
    .contenedor .form .form-header .form-title {
        font-weight: normal;
        font-family: Rajdhani;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 11px 0;
    }
    
    .contenedor .form .form-header .form-title span {
        color: white;
    }
    
    .contenedor .form {
        background: rgba(99, 98, 98, 0.233);
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        margin-top: 150px;
        padding-bottom: 30px;
        border-radius: 3px;
    }
    
    .contenedor .form .form-label {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: Rajdhani;
        font-weight: bold;
        position: relative;
    }
    
    .contenedor .form .form-input,
    .form-textarea {
        background: rgba(252, 252, 252, 0.158);
        border: none;
        outline: none;
        border-bottom: 2px solid #ffffff65;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 15px;
        color: white;
        font-family: Rajdhani;
        font-weight: bold;
    }
    
    .contenedor .form .form-textarea {
        resize: vertical;
        max-height: 150px;
        min-height: 50px;
    }
    
    .contenedor .form .btn-submit {
        width: 100%;
        font-family: Rajdhani;
        font-weight: bold;
        outline: none;
        background: #f8f8f84b;
        font-size: 30px;
        border: none;
        color: #fff;
        padding: 15px 0;
        cursor: pointer;
        transition: all .5s ease;
    }
    
    .contenedor .form .btn-submit:hover {
        background: #f3f585;
    }
    
    .pie {
        text-align: center;
        margin-top: 3%;
    }
    
    h1 {
        color: #fff;
        text-align: center;
        font-family: Rajdhani;
        font-weight: bold;
        font-size: 40px;
    }
    
    h4 {
        color: #fff;
        text-align: center;
        font-family: Rajdhani;
        font-weight: bold;
        font-size: 25px;
    }
    
    @keyframes moverizquieda {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1, transform translate(0);
        }
    }
    
    .nubes {
        display: block;
        width: 100%;
        object-fit: cover;
        animation: moverizquieda 10s ease-in;
    }
    
    section img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        z-index: -1;
        margin-top: -150px;
    }
    
    .wave {
        margin-top: 80px;
        width: 100%;
        background: #74747427;
    }
    
    .sociales {
        text-align: center;
        margin-right: 0, 0.5%;
        margin-top: 2%;
    }
    @media(min-width: 350px) and (max-width: 600px){

        header nav {
            display: none;
        }
        .topnav{
            display: block;
            width: 100%;
            margin-top: -10px;
            background: saddlebrown;
        }
        h4 {
        color: #fff;
        text-align: center;
        font-family: Rajdhani;
        font-weight: bold;
        font-size: 20px;
    }
    .topnav {
        overflow: hidden;
        background-color: rgba(242, 177, 11, 0.59);
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    
    .topnav #myLinks {
        display: none;
    }
    
    
    /* Style navigation menu links */
    
    .topnav a {
        color: rgb(255, 255, 255);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        display: block;
    }
    
    
    /* Style the hamburger menu */
    
    .topnav a.icon {
        background: rgba(250, 111, 5, 0);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    
    /* Add a grey background color on mouse-over */
    
    .topnav a:hover {
        background-color: rgba(253, 92, 5, 0.357);
        color: rgb(255, 255, 255);
    }
    
    
    /* Style the active link (or home/logo) */
    
    .active {
        background-color: #ffffff00;
        color: rgba(255, 255, 255, 0);
    }
    #span0{
        margin-right: 10px;
    }
    }
    